#lista {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
}

ul .columna {
    text-align: center;
    margin: 1px 20px 1px 20px;
}

.columna img {
    max-width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}