/*Medidas absolutas*/
* {
    box-sizing: border-box;
}

main {
    margin: 0;
    background-color: aquamarine;
    width: 100%;
    height: fit-content;
}

p {
    font-size: 16px;
}

/*Medidas em*/

.em p {
    font-size: 1.5em; /*16px * 1.5em = 24px*/
}
.em div {
    font-size: 1.5em; /*24px * 1.5em = 36px*/
}

/*Medidas rem*/

.rem .text-container {
    font-size: 1.6rem; /*16px * 1.6rem = 25.6px*/
}

.rem .text-container p {
    font-size: 1.6rem;
}