:root {
    --primary-color: #6D2932;
    --secondary-color: #C7B7A3;
    --terceary-color: #E8D8C4;
    --header-size: 4rem;
    --font: 1.8rem;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}

main {
    width: 100vw;
    height: 70vh;
    font-size: var(--font);
    background-color: var(--terceary-color);
}

h1 {
    font-size: var(--header-size);
    color: var(--primary-color);
}

footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary-color);
}