.title {
    text-decoration: underline;
}

/* Hermanos adyacentes */

.div1 h2 + p {
    color: brown;
}

/* Hermanos generales */

.div2 h2 ~ p {
    color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}


/* Hijos y descencdientes */

.div3 div > p {
    color: tomato;
}

.div3 div p {
    font-style: italic;
}
