.title {
    text-decoration: underline;
}

/* Hermanos adyacentes */

.div1 h2 + p {
    color: brown;
}

/* Hermanos generales */

.div2 h2 ~ p {
    color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}


/*  */
