* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: rebeccapurple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    font-size: 20px;
    font-family: monospace;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: whitesmoke;
    background-color: #13a4a4;
    border-radius: 2px;
    text-decoration: none;
    padding: 0px 2px 0px 2px;
}

.nav .nav-special {
    background-color: burlywood;
}